# Never exlude
# - node_modules, dist
# - package.json, .npmignore
# - README.md, CONTRIBUTING.md, LICENSE

# Excluded project folders
src/
test/
coverage/
.vscode/

# Excluded project files
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
jest.config.js
package-lock.json
TODO
tsconfig.json
*.env
*.log

# Exclude system files
.DS_Store
Thumbs.db
