# Never exclude: README.md, LICENSE, package.json, node_modules, .npmignore
.vscode/
src/
__test__/
test/
coverage/
.editorconfig
.eslintrc.js
.eslintignore
.gitignore
tsconfig.json
package-lock.json
yarn.lock
