# Never exlude
# - node_modules, dist
# - package.json, .npmignore, README.md, LICENSE

# Excluded project folders
src/
test/
__test__/
coverage/
.vscode/

# Excluded project files
.editorconfig
.eslintrc.js
.eslintignore
.gitignore
tsconfig.json
package-lock.json
yarn.lock

# Exclude system files
.DS_Store
Thumbs.db
